ai-roadmap/
.vscode/
*/.vscode/
*/data/
*/__pycache__/

*/runs/
*/attention_maps/
*/.mplcache/
/Phase3/best_minigpt.pt

.env
*.env
!.env.example

Phase4/company_handbook.txt

Phase4/mcp-demo

Phase4/gen_dataset.py
Phase4/Demo19-main.py

Phase5/model.*

:memory:.*